<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meu Guia</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <h1>Meu Guia</h1>
    <form id="search" action="~/Home/SearchPage" method="post">
        <input type="text" name="search" id="search" placeholder="Buscar" />
        <input type="submit" />
    </form>
    @RenderBody()
    <br />
    <div class="clear"></div>
    <address>meuGuia.com - 2014 © Todos os Direitos Reservados</address>
</body>
</html>