@model WebApplication7.Models.Search

@{
    ViewBag.Title = "Página Inicial";
}


<div class="outerblock">
    <div class="block">
        <img src="~/Content/Csharp.png" width="150px" height="150px" title="Block" /> <br />
        <strong>Empresa: </strong>FAAr <br />
        <strong>Fone: </strong>01 234 5678
    </div>
    <div class="block">
        <img src="~/Content/Csharp.png" width="150px" height="150px" title="Block" /><br />
        <strong>Empresa: </strong>FAAr<br />
        <strong>Fone: </strong>01 234 5678
    </div>
    <div class="block">
        <img src="~/Content/Csharp.png" width="150px" height="150px" title="Block" /><br />
        <strong>Empresa: </strong>FAAr<br />
        <strong>Fone: </strong>01 234 5678
    </div>
    <div class="block">
        <img src="~/Content/Csharp.png" width="150px" height="150px" title="Block" /><br />
        <strong>Empresa: </strong>FAAr<br />
        <strong>Fone: </strong>01 234 5678
    </div>
    <div class="block">
        <img src="~/Content/Csharp.png" width="150px" height="150px" title="Block" /><br />
        <strong>Empresa: </strong>FAAr<br />
        <strong>Fone: </strong>01 234 5678
    </div>
</div>