body {
    font-family: Calibri;
}

#search {
    text-align:center
}

form {
    margin-bottom: 30px;
}

form input {
    padding: 5px;
    margin: -3px;
}

address {
    padding-top: 30px;
    text-align: center;
}

.outerblock {
    text-align:center
}

.block {
    float:left;
    width: 20%;
}

.clear {
    clear:both;
}